@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");

body {    
    font-family: "Source Sans Pro", sans-serif;
    /*font-family: 'Lato', sans-serif;*/
    margin: 0;
    overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
}
.app,
app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.app-footer {
    /*min-height: 50px;*/
    padding: 0 1rem;
    line-height: 50px;
    color: #374767;
    background: #f9f9fa;
    border-top: 1px solid #e1e6ef;
}
.app-header {
    flex: 0 0 60px;
}
.app-footer {
    flex: 0 0 50px;
}
.app-body {
    /*display: flex;*/   
    flex-grow: 1;
    flex-direction: row;
    overflow-x: hidden;
}
.app-body .main {
    flex: 1;
}
.app-body .sidebar {
    flex: 0 0 250px;
    order: -1;
}
.header-fixed .app-header {
    position: fixed;
    z-index: 1000;
    width: 100%;
}
.header-fixed .app-body {
    margin-top: 60px;
    
}
.sidebar-hidden .sidebar {
    margin-left: -250px;
}
.sidebar-mobile-show .sidebar {
    width: 250px;
    margin-left: 0;
}
.sidebar-mobile-show .sidebar .sidebar-nav {
    height: calc(100vh - 60px);
}
.sidebar-mobile-show .main {
    margin-right: -250px !important;
    margin-left: 250px !important;
}
.sidebar-fixed .sidebar {
    position: fixed;
    height: 100%;
}
.sidebar-fixed .sidebar .sidebar-nav {
    height: calc(100vh - 60px);
}
.sidebar-fixed .main,
.sidebar-fixed .app-footer {
    margin-left: 250px;
}
.aside-menu-fixed .main,
.aside-menu-fixed .app-footer {
    margin-right: 250px;
}
.aside-menu-fixed.aside-menu-hidden .main,
.aside-menu-fixed.aside-menu-hidden .app-footer {
    margin-right: 0;
}
.sidebar-fixed.sidebar-hidden .main,
.sidebar-fixed.sidebar-hidden .app-footer {
    margin-left: 0;
}
.app-header,
.app-footer,
.sidebar,
.main,
.aside-menu {
    transition-duration: 0.35s, 0.35s;
    transition-property: margin-left, margin-right;
}



@media (max-width: 991px) {
    .app-header {
        position: fixed !important;
        z-index: 1000;
        width: 100%;
    }
    .app-header .navbar-toggler {
        position: absolute;
        top: 0;
        left: 0;
        width: 70px;
        height: inherit;
    }
    .app-header .navbar-toggler {
        color: #c0cadd;
    }
    .app-header .navbar-toggler:hover {
        opacity: .8;
    }
    .app-header .navbar-brand {
        width: 100% !important;
        margin: 0 auto !important;
    }
    .app-header .navbar-nav {
        position: absolute;
        top: 0;
        right: 15px;
        height: inherit;
    }
    .app-body {
        margin-top: 60px;
    }
    .sidebar {
        position: fixed;
        width: 250px;
        height: 100%;
        margin-left: -250px;
    }
    .sidebar .sidebar-nav,
    .sidebar .nav {
        width: 250px !important;
    }
    .main,
    .app-footer {
        margin-left: 0 !important;
    }
    .nav-item .usuario {
        font-weight: normal;
        color: #FFF;
    }
}

/*	Estilos para la barra lateral	*/
.sidebar {
    padding: 0;
    color: #fff;
    background: #263238;/*#384042;*/
}
.sidebar .nav {
    width: 250px;
    flex-direction: column !important;
}
.sidebar .nav .nav-title {
    padding: 0.5rem .5rem;
    font-size: 14px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.5);
    text-transform: capitalize;
}
.sidebar .nav .divider {
    height: 5px;
}
.sidebar .nav .nav-item {
    position: relative;
    margin: 0;
    transition: background .3s ease-in-out;
}
.sidebar .nav .nav-item ul {
    max-height: 0;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    transition: max-height .3s ease-in-out;
}
.sidebar .nav .nav-item ul li {
    list-style: none;
    padding-left: 2rem;
}
.sidebar .nav .nav-item .nav-link,
.sidebar .nav .nav-item .navbar .dropdown-toggle,
.navbar .sidebar .nav .nav-item .dropdown-toggle {
    display: block;
    padding: 12px 20px;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    background: transparent;
    font-size: 17px;
}
.sidebar .nav .nav-item .nav-link:hover,
.sidebar .nav .nav-item .navbar .dropdown-toggle:hover,
.navbar .sidebar .nav .nav-item .dropdown-toggle:hover,
.sidebar .nav .nav-item .nav-link:hover i,
.sidebar .nav .nav-item .navbar .dropdown-toggle:hover i,
.navbar .sidebar .nav .nav-item .dropdown-toggle:hover i,
.sidebar .nav .nav-item .nav-link.active,
.sidebar .nav .nav-item .navbar .active.dropdown-toggle,
.navbar .sidebar .nav .nav-item .active.dropdown-toggle {
    color: rgba(255, 255, 255, 0.8) !important;
}
.sidebar .nav .nav-item .nav-link.active i,
.sidebar .nav .nav-item .navbar .active.dropdown-toggle i,
.navbar .sidebar .nav .nav-item .active.dropdown-toggle i {
    color: #20a8d8;
}
.sidebar .nav .nav-item .nav-link i,
.sidebar .nav .nav-item .navbar .dropdown-toggle i,
.navbar .sidebar .nav .nav-item .dropdown-toggle i {
    width: 20px;
    margin: 0 0.5rem 0 0;
    font-size: 18px;
    line-height: 17px;
    text-align: center;
    width: 20px;
}
.aaa {
    font-size: 15px !important;
    padding-bottom: .2rem !important;
}
.sidebar .nav .nav-item .nav-link.nav-dropdown-toggle::before,
.sidebar .nav .nav-item .navbar .nav-dropdown-toggle.dropdown-toggle::before,
.navbar .sidebar .nav .nav-item .nav-dropdown-toggle.dropdown-toggle::before {
    position: absolute;
    top: 0.96875rem;
    right: 1rem;
    display: block;
    width: 0.875rem;
    height: 0.875rem;
    padding: 0;
    font-size: 0.875rem;
    line-height: 0.65625rem;
    text-align: center;
    content: "\2039";
    transition: .3s;
    font-size: 30px;
}
.sidebar .nav .nav-item.nav-dropdown.open {
    background: #263238;/*#31383a;*/
}
.sidebar .nav .nav-item.nav-dropdown.open > ul,
.sidebar .nav .nav-item.nav-dropdown.open > ol {
    max-height: 1000px;
}
.sidebar .nav .nav-item.nav-dropdown.open > .nav-link.nav-dropdown-toggle::before,
.sidebar .nav .navbar .nav-item.nav-dropdown.open > .nav-dropdown-toggle.dropdown-toggle::before,
.navbar .sidebar .nav .nav-item.nav-dropdown.open > .nav-dropdown-toggle.dropdown-toggle::before {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-size: 30px;
}
/*======================================================================*/

/**	Estilos barra top e img de perfil	*/
header.navbar .nav-item .nav-link > .img-avatar,
header.navbar .nav-item .dropdown-toggle > .img-avatar {
    height: auto !important;
}
header.navbar .navbar-brand {
    background-color: #263238;
}
.avatar {
    position: relative;
    display: inline-block;
    width: 36px;
}
.avatar .img-avatar {
    width: 36px;
    height: 36px;
}
.img-avatar {
    border-radius: 50em;
}
/*======================================================================*/    


/* Tablas */
.table {
    margin-bottom: 10px;
}
.table th,
.table td {
    padding-bottom: 0.1rem;
}
.table li {
    list-style: none;
}
td .hora {
    margin-bottom: 5px;
}
.dataTables_filter input {
    border: none;
    border: 1px solid #ccc;
    padding: 0.3rem 0.5rem;
    border-radius: 3px;
}
.dataTables_length select {
    border: 1px solid #ccc;
    padding: 0.3rem 0.5rem;
    border-radius: 3px;
}
table.dataTable thead th,
table.dataTable thead td {
    border: 0px !important;
}
table.dataTable.no-footer {
    border-bottom: 0px !important;
}
th select {
    border: 1px solid #ccc;
    padding: .4rem;
    border-radius: 3px;
}
th {
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
    font-weight: 500 !important;
    color: #292b2c;
}
table.dataTable tbody th,
table.dataTable tbody td {
    padding: 7px 12px;
}
td .text-muted {
    color: #707070 !important;
    font-size: 12px;
}
.ticket {
    width: 450px;
    border-radius: 2px;
    display: block;
    height: auto;
    margin-bottom: .2rem;
    padding: .5rem;
    font-size: .9rem;
    border: 1px dotted #5F5656;
    word-wrap: break-word;
}
.badg {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 95%;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 3px;
}

/*======================================================================*/
/*	Formulario Iniciar sesion 	*/
#iniciarSesion .input-group-addon {
    min-width: 30px;
}
.badge-critica {
    background-color: #D50000;
}
.badge-urgente {
    background-color: #FF9100;
}
.badge-alto {
    background-color: #FFD300;
}
.badge-medio {
    background-color: #00E676;
}
.badge-bajo {
    background-color: #00B0FF;
}
.badge-critica[href]:focus,
.badge-critica[href]:hover,
.badge-urgente[href]:focus,
.badge-urgente[href]:hover,
.badge-alto[href]:focus,
.badge-alto[href]:hover,
.badge-medio[href]:focus,
.badge-medio[href]:hover,
.badge-bajo[href]:focus,
.badge-bajo[href]:hover{
    opacity: .7;
}

/*=============== Seccion Eventos[Comentarios] ====================*/
.comment {
    overflow: hidden;
    padding: 0 0 .1em;
    /* border-bottom: 1px solid #ddd; */
    margin: 0 0 .3em;
}
.comment-body {
    padding-left: 33px !important;
}
.comment .text {
    padding: 8px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background: #fff;
    font-size: 15px;
    color: #707070 !important;
}
.comment .text p:last-child {
    margin: 0;
}
.comment .attribution {
    margin: 0.3em 0 0;
    font-size: 14px;
    color: #666;
}
.comments,
.comment {
    position: relative;
}
.comments:before,
.comment:before,
.comment .text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 15px;
}
.comments:before {
    width: 3px;
    top: 0px;
    bottom: -10px;
    background: rgba(0, 0, 0, 0.1);
}
.comment:before {
    width: 9px;
    height: 9px;
    border: 3px solid #fff;
    border-radius: 100px;
    margin: 16px 0 0 -4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(0, 0, 0, 0.1);
    background: #ccc;
}
.comment:hover:before {
    background: #3bc3e9 !important;
}
.comment .text:before {
    top: 18px;
    left: 28px;
    width: 9px;
    height: 9px;
    border-width: 0 0 1px 1px;
    border-style: solid;
    border-color: #e5e5e5;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*======================================================================*/

/* Detalle Tickets */
#detalleTicket .input-group {
    padding: 0px !important;
}
#detalleTicket .input-group-addon {
    font-size: 1rem;
    padding: 0px !important;
}
#contenedorDetalle .card {
    background-color: #F2F4F8 !important;
    border: 0 !important;
}
#asignado {
    border-left: 0px !important;
}
#contenedorDetalle .alert-success,
#info-reporte .alert-success,
#reglas .alert-success {
    padding: .75rem 1.25rem;
    color: #4ac18e !important;
    background-color: #e2f5ed !important;
    border: 1px #e2f5ed !important;
}
.blockquote {
    font-size: 0.9286rem;
}
.blockquote-footer {
    color: #91a1bf;
}
.blockquote-categoria{
	font-size: 1.2rem;
	color: #91a1bf;
}

.detalleTicket p {
    font-size: 1.15rem;
}
.detalleTicket footer {
    font-size: 1rem;
}

.usuarios-ticket {
	color: #91a1bf;
	font-size:1.1rem;
}

/*======================================================================*/

/*=============== Pagina Estadisticas(index2.php) ===============*/
.tick-div {
    margin-top: 8px;
    background: #fff;
    border: 1px solid #20A8D8;
    border-radius: 6px;
}
.tick-avatarLink {
    background-color: #20A8D8;
    border-radius: 6px;   
    float: left;
    margin: 5px 5px 0 8px;
    max-width: 100%;
    padding: 1px;
    vertical-align: bottom;
}
.tick-divUser {
    margin: 0px 0 0;
    background: #20A8D8;
    color: #fff;
    padding-bottom: 1px;
    text-align: center;
    border-radius: 6px 6px 0px 0px;
}
.tick-divName {
    padding-top: 6px;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
}
.tick-divStats {
    margin-left: 11px;
    padding: 10px 0;
}
.tick-Arrange {
    box-sizing: border-box;
    display: table;
    margin: 0;
    min-width: 100%;
    padding: 0;
    table-layout: auto;
}
ul.tick-Arrange {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.tick-ArrangeSizeFit {
    display: table-cell;
    padding: 0;
    vertical-align: top;
}
.tick-StatValue {
    display: block;
    font-size: 18px;
    font-weight: 400;
}
.tick-StatLabel {
    color: #8899a6;
    font-size: 12px;
    letter-spacing: 0.02em;
    overflow: hidden;
    text-transform: uppercase;
}
.thumb-sm {
    height: 35px;
    width: 35px;
}
/*======================================================================*/

/*================== Area de Recordatorios =================*/
ul.notes li {
    margin: 10px 20px 30px 0px;
    float: left;
}
ul.notes li,
ul.tag-list li {
    list-style: none;
}
ul.notes li div small {
    font-size: 10px;
}
div.rotate-1 {
    -webkit-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    transform: rotate(-6deg)
}
div.rotate-2 {
    -o-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    transform: rotate(4deg);
    position: relative;
    top: 5px;
}
ul.notes li div {
    text-decoration: none;
    color: #000;
    display: block;
    height: auto;
    width: 250px;
    padding: 1em;
    word-wrap: break-word;
    -moz-box-shadow: 5px 5px 7px #212121;
    -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
    box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
    -moz-transition: -moz-transform 0.15s linear;
    -o-transition: -o-transform 0.15s linear;
    -webkit-transition: -webkit-transform 0.15s linear;
    transition: -webkit-transform 0.15s linear;  

}
ul.notes .creado {
    font-size: 10px;
    text-align: right;
}
ul.notes a {
    color: #000000;
    padding-left: 1rem;
}
.pagination a:hover {
    cursor: pointer;
}
/*======================================================================*/

/*	Reportes [reportes.php]*/
.rango-fechas {
    margin: auto;
}
.form-control:disabled,
.form-control[readonly] {
    background-color: #FFFFFF !important;
    border: none;
	color: #484444;
}
.response {
    padding: 1rem;
}
.input-daterange .input-group-addon {    
	min-width: 2rem;	
}

/*	Formulario Alta Tickets	*/
.progress {
    background-color: #fff;
}
#btnActFre {
    padding-top: 1px !important;
    padding-bottom: 1px !important; 
}
.form-group {
    margin: 0.1rem;
}
.form-control {
    padding-bottom: .3rem;
}

/*	Información superior index.php*/
.mini-stat {
    border: 1px solid rgba(112, 112, 112, 0.12);
	background:#fff;
    padding: 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 20px; 
}
.mini-stat-icon {
    width: 60px;
    height: 60px;
    display: inline-block;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    /*float: left;*/
    margin-right: 10px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
}
.mini-stat-info {
    font-size: 14px;
    padding-top: 2px;
}
.mini-stat-info span {
    display: block;
    font-size: 22px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}
/*======================================================================*/

/*	Varios	*/
#calendar {
    max-width: 65% !important;
    margin: 0 auto;
}
.graficas {
    max-width: 60% !important;
    margin: 0 auto;
}
#cambiarContrasena .input-group-addon {
    min-width: 50px !important;
}
.gallery img {
    width: 20%;
    height: auto;
    border-radius: 2px;
    cursor: pointer;
    transition: .3s;
}
.card-block {
    padding: .71rem 0.6rem;
}
.eventoNoTicket {
    font-size: 1.2rem;	
}

#requerimiento {
    padding-bottom: 1rem;
}
.eventoRequerimiento {
    margin-top: 1rem;
    padding: 8px;
    border-bottom: 1px solid #c0cadd;
    background-color: #c0cadd;
    opacity: .6;
    border-radius: 2px 2px 0px 0px;
}
.breporte:focus,
.breporte:hover {
    color: #000 !important;
    cursor: pointer;
}
.dropdown-item:hover {
    width: 70%;
    border-top: 0px !important;	
}
.input-group span{
	font-size:.98rem;
}
.modalOperaciones{
	font-size:1.3rem;
}
.backup{
	padding:1.5rem;
}
/*======================================================================*/

.input-group .badge {
    padding: .8rem;
    border-radius: 2px;
    color: #fff;
    background: #384042;
    font-size: .7rem;
}
.pb-100 {
    padding-bottom: -1!important;	
}

#botonAF a:focus,
a:hover {
    text-decoration: none !important;
}
.car {
    padding-bottom: 1.25rem;
}
.fon_new {
    font-family: "Source Sans Pro", sans-serif;
	font-size:3rem !important;
}
